DB_URL=jdbc:mysql://localhost:3306/digital_wallet?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=123456
JWT_SECRET=NSQ3SM9LoBtGUiAM6WV3OSmOZ4W7vTTf
JWT_EXPIRATION_MINUTES=120
SEED_DATA_ENABLED=true
